.student
	.easy
		.page
			.easy__home
				img(src='%=static=%img/content/student-easy-apartment.png').easy__img
			.easy__title Квартира для студента? Легко!
			.easy__text Учитывая возможность бесплатного обучения в государственных ВУЗах, неудивительно, что в Чехию каждый год приезжают тысячи абитуриентов. Многие из них принимают решение проживать в Чехии на постоянной основе даже после получения диплома. Поэтому настоятельно рекомендуем заранее задуматься о покупке недвижимости
			a(href='#').easy__link узнать подробнее
	.situations
		.page
			.situations__title Сотрудничая с нами вы избежите следующих ситуаций:
			.situations__table
				.situation
					img(src='%=static=%img/content/student-situation-1.png').situation__img
					.situation__name Языкового барьера
					.situation__text Договор будет на русском языке
				.situation
					img(src='%=static=%img/content/student-situation-2.png').situation__img
					.situation__name Задолженности по налогам
					.situation__text При покупке, на владение, на прибыль, НДС
				.situation
					img(src='%=static=%img/content/student-situation-3.png').situation__img
					.situation__name огласки персональных данных
					.situation__text Конфеденциальность
				.situation
					img(src='%=static=%img/content/student-situation-4.png').situation__img
					.situation__name Международных транзакции
					.situation__text Прозрачность валютных операций
				.situation
					img(src='%=static=%img/content/student-situation-5.png').situation__img
					.situation__name махинаций и Обременений
					.situation__text Разъяснение законов другого  государства 
				.situation
					img(src='%=static=%img/content/student-situation-6.png').situation__img
					.situation__name Неликвидных объектов
					.situation__text Приобретение недвижимости  по выгодной цене 