.apartment
	.director
		img(src='%=static=%img/content/apartment-director.png').director__img
		.director__name Игорь Лушкин
		.director__text директор компании “RedHome”
	.buy
		.page
			.buy__title Хотите 
				span купить квартиру 
				br
				|в новостройке от застройщика?
			.buy__param
				.param
					.param__number 01
					.param__text Отсутствие обязанности 
						span платить налог 4% 
						|на переход права собственности
				.param
					.param__number 02
					.param__text Расчеты по завершению строительства
				.param
					.param__number 03
					.param__text Современные материалы и технологии
				.param
					.param__number 04
					.param__text Развитая социальная инфраструктура
			a(href='#').buy__link узнать подробнее
	.mortgage
		.page
			.mortgage__title Выгодные условия ипотеки
			.conditions
				.condition
					img(src='%=static=%img/content/apartment-mortgage-1.png').condition__img
					.condition__text 100% одобрение для  наших клиентов
				.condition
					img(src='%=static=%img/content/apartment-mortgage-2.png').condition__img
					.condition__text Для лиц без ВНЖ  и ПМЖ в Чехии 
				.condition
					img(src='%=static=%img/content/apartment-mortgage-3.png').condition__img
					.condition__text От 30% собственных  средств
				.condition
					img(src='%=static=%img/content/apartment-mortgage-4.png').condition__img
					.condition__text Специальные программы  в банках-партнерах
				.condition
					img(src='%=static=%img/content/apartment-mortgage-5.png').condition__img
					.condition__text В кратчайшие сроки  при минимуме  документов 
			a(href='#').mortgage__link узнать подробнее
	.investments
		.page
			.investments__border
				.investments__title Инвестиционные программы  в недвижимость
				.investments__text Более 50 собственных уникальных инвестиционных объектов недвижимости
				.investments__rent 
					|До 
					span.investments__number 7% 
					|годовых  
					span.investments__b доход от аренды
				.investments__resale 
					|До 
					span.investments__number 10-15% 
					|годовых 
					span.investments__b доход от перепродажи
				br
				a(href='#').investments__link консультация специалиста