.sellform__phone {
	padding-left: 30px;
	border: 1px solid rgb(232,232,232);
	border-radius: 2px;
	width: 288px;
	height: 43px;
	font-family: 'MullerRegular';
	font-size: 14px;
	color: #c9c9c9;
  	line-height: 1.2;
  	margin-bottom: 24px;
}