.form__title {
	width: 500px;
	margin: 0 auto;
	font-size: 26px;
	font-family: 'LoraBold';
	color: rgb(67, 67, 67);
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 10px;
	margin-top: 61px;
}
@media only screen and (max-width: 570px) {
	.form__title {
		width: 100%;
		font-size: 18px;
		margin-top: 20px;
	}
}