.why__title {
	font-family: 'LoraBold';
	font-size: 40px;
	color: rgb(255, 255, 255);
  	font-weight: bold;
  	line-height: 1.2;
  	margin-bottom: 20px;
  	span {
  		color: rgb(214, 171, 136);
  	}
}