.reviews
	.page
		.reviews__title Отзывы благодарных клиентов
		.reviews__wall
			.reviews__review
				.reviews__quotes &ldquo;
				.reviews__text
					|Учусь в Чехии по обмену, планирую остаться здесь жить. Родители решили купить мне собственное жилье. Мы обратились в агентство RedHome. Мне очень понравилось, что специалисты не навязывают какой-то один вариант, а подбирают жилье под мои возможности
				.reviews__name Анастасия
			.reviews__review.reviews__review-w
				.reviews__quotes &ldquo;
				.reviews__text
					|Мы с женой долгое время мечтали о частном доме в Чехии, а именно в городе Карловы-Вары. В этом году наши желания сбылись, и все благодаря компании RedHome. Очень хорошее агентство. Видно, что работают на результат. Единственное, что от нас требовалось – это определиться с выбором и быть на сделке. Подготовку документов и все другие организационные вопросы взяли на себя представители агентства. Работники просто молодцы, видно, что мастера своего дела. 
				.reviews__name Александр
			.reviews__review 
				.reviews__quotes &ldquo;
				.reviews__text
					|Квартиру под ипотеку в Праге мы покупали для сестры. Решили обратиться в агентство недвижимости RedHome. Ипотеку оформили под 3%. Для нас это был приятный шок. Все документы оформили буквально за несколько часов, и все благодаря опытным сотрудникам компании.
				.reviews__name Олег
			.reviews__review.reviews__review-w
				.reviews__quotes &ldquo;
				.reviews__text
					|В компанию RedHome обратилась по рекомендациям коллег. Представители агентства внимательно выслушали все мои пожелании, срезу представили несколько вариантов. Уже на следующий день мы поехали смотреть мою долгожданную квартиру в новострое. Покупку провели спустя несколько дней. Результатом работы агентства я осталась очень довольна. Девушки и парни, которые там работают очень внимательны и компетентны во всех вопросах, что очень радует. Теперь всем, кто хочет купить жилье в Чехии, я рекомендую только эту компанию!
				.reviews__name Марина
			.reviews__review 
				.reviews__quotes &ldquo;
				.reviews__text
					|Бизнесом занимаюсь уже более 10 лет. В прошлом году узнал, что можно выгодно вложиться в недвижимость в Чехии. Я обратился в агентство недвижимости RedHome. С большого списка вариантов я выбрал несколько. Теперь получаю 7% годовых только от аренды каждого помещения.
				.reviews__name Владимир
			.reviews__review 
				.reviews__quotes &ldquo;
				.reviews__text
					|Давно мечтал о недвижимости в Европе, но боялся языкового барьера. 
					|Сотрудники приятно удивили меня: все договора были оформлены на русском языке, что очень важно для тех, кто слабо владеет иностранным языком.
					|Очень рад, что есть такая компания, как RedHome.
				.reviews__name Александр