header.header
	img(src='%=static=%img/content/header-woman.png').header__woman
	.header__menu
		.page
			.nav
				a(href='/').nav__logo
				a(href='#').nav__link.header__navlink Покупка жилья	
				a(href='#').nav__link.header__navlink Ипотека	
				a(href='#').nav__link.header__navlink Инвестиции	
				a(href='#').nav__link.header__navlink Отзывы	
				select.form__select.header__language
					option(value='1') RU
					option(value='2') EN
				.nav__address.header__navaddress Štěpánská 540/7 Prague, Czech Republic
				.nav__phone.header__navphone +420 228 885 535
				a(href='#').header__navburger
					span
				.rightmenu
					a(href='#').rightmenu__link Покупка жилья
					a(href='#').rightmenu__link Ипотека
					a(href='#').rightmenu__link Инвестиции
					a(href='#').rightmenu__link Отзывы
	.page
		.header__title Продажа недвижимости в Чехии 
		.header__text Сопровождение, финансовая и юридическая поддержка «под ключ»
			br
			|Мы лучшее агентство недвижимости Чехии в сегменте русскоговорящих клиентов!
		a(href='#').header__link Консультация специалиста
		.header__table
			.header__cell
				.header__number 10
				.header__name Лет на рынке
			.header__cell
				.header__number 1000+
				.header__name Сделок проведено
			.header__cell
				.header__number 3%
				.header__name Ипотека для наших клиентов  
			.header__cell
				.header__number 100%
				.header__name Финансовая гарантия сделки
