.property__number {
	font-family: 'LoraBold';
	font-size: 36px;
	color: rgb(214, 171, 136);
 	font-weight: bold;
 	line-height: 1.2;
 	text-shadow: 0 0 10px rgba(165,129,100,1);
 	margin-right: 25px;
}