.company
	.page
		.company__title 
			|И самое главное.
			br 
			|Мы - 
			span живая компания
		.properties
			.property
				.property__number 01
				.property__text На рынке с 2008 года
			.property
				.property__number 02
				.property__text Умеем работать с VIP  клиентами
			.property
				.property__number 03
				.property__text При необходимости  проводим сделки дистанционно
			.property
				.property__number 04
				.property__text Наши специалисты осуществляют  комплексную поддержку клиента