.partners.page
		.partner
			.partner__title Наши партнёры
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-yit.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-vivus.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-sykora.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-skanska.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-sberbank.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-penta.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-crestyl.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-sporitelna.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-metrostav.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-gorenje.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-ekospol.png').partner__img
			a(href='#').partner__link
				img(src='%=static=%img/content/partners-afi.png').partner__img
		form(id='form-sell').sellform
			.form__title Хотите продать недвижимость в Чехии?
			.form__text Сделаем это быстро, выгодно и безопасно
			input(type='text' name='sellform_name' placeholder='Ваше имя' form='form-sell' required).form__name
			br
			input(type='text' name='sellform_phone' placeholder='Ваш телефон' form='form-sell' required).form__phone
			br
			input(type='submit' name='sellform_submit' value='Отправить').form__submit
			br
			label.checkbox
				input(type='checkbox')
				span.checkbox__custom
				span.checkbox__text Соглашаюсь с обработкой персональных данных