.partner__link {
	width: 180px;
	height: 76px;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	border: solid 1px #f6f1ed;
	transition: all 0.4s;
	&:hover {
		box-shadow: 0 20px 40px rgba(70,70,70,0.1);
	}
}