.map {
	position: relative;
	width: 100%;
	height: 582px;
}
.map__google {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1023px) {
	.map__google {
		position: relative;
		height: 400px;
	}
	.map {
		height: auto;
	}
}