.header__text {
	font-family: 'MullerRegular';
	font-size: 18px;
	color: rgb(107, 107, 107);
  	line-height: 1.333;
  	width: 730px;
  	margin-top: 15px;
  	margin-bottom: 30px;
}
@media only screen and (max-width: 759px) {
	.header__text {
		width: 100%;
		text-align: center;
	}
}